{
	"video_stream_center_common": {
		"log_error_format": "./log/video_stream_error",
		"log_info_format": "./log/video_stream_info"
	},
	"video_stream_center": [
		{
			"video_stream_center_name": "JinNiuBa",
			"in_video_stream": {
				"in_url": "udp://192.168.9.15:30010",
				"mat_height": 720,
				"mat_width": 1080
			}
		}
	]
}