{
	"video_stream_center_common": {
		"log_error_format": "./log/video_stream_error",
		"log_info_format": "./log/video_stream_info"
	},
	"video_stream_center": [
		{
			"video_stream_center_name": "JinNiuBa",
			"out_video_stream_url": {
				"out_url_ip": "udp://192.168.9.15",
				"out_url_port": "30010"
			},
			"out_video_stream_file": {
				"video_path": "/DATACENTER1/WJ/video_cache",
				"write_time": 2,
				"filename_format": "YYYYMMDDTHHMMSS",
				"filename_prefix": "JinNiuBa_",
				"video_format": ".264"
			},
			"in_video_stream": {
				"in_url": "rtsp://192.168.9.15:8554/DATACENTER1/zhiwen.wang/HUIFU_video/Tank_eight/Tank_eight_2018-08-15_161919_560p.264",
				"mat_height": 720,
				"mat_width": 1080
			}
		}
	]
}